.container {
  border: 1px solid rgb(185, 183, 183);
  height: 515px;
  max-width: 114%;
  width: 850px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 7px rgba(219, 215, 215, 1);
  background-size: cover;
}
.form-control {
  background: #d1d9d9;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  height: 50px;
  padding: 20px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
  color: #161d6f;
  width: 580px;
}
.searchButton {
  font-family: "Uchen", serif;
  padding: 10px 35px;
  height: 52px;
  border-radius: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
  background: #d1d9d9;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
  position: relative;
  right: -40px;
}
.searchButton:hover {
  transition: ease-in-out;
  color: #161d6f;
  background: #d2d2d6;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.info {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 250px;
  width: 765px;
  border-radius: 20px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
  margin-right: 10px;
}
.city {
  padding-right: 0px;
  font-size: 30px;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: "Uchen", serif;
  display: block;
  margin-left: -19px;
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 201px;
  width: 370px;
  border-radius: 10px;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
}
.weatherDetail {
  padding: 0px;
  font-size: 13px;
  float: right;
}
.weatherDetail p {
  margin-top: 21px;
  font-family: "Bitter", serif;
  font-size: 14px;
  line-height: 30px;
}
.date {
  font-family: "Uchen", serif;
  line-height: 25px;
  font-size: 15px;
  padding: 8px;
  font-weight: 300;
  margin-top: -10px;
}
.weatherNow {
  height: 201px;
  width: 230px;
  float: right;
  top: -209px;
  position: relative;
  display: block;
  font-family: "Uchen", serif;
}
.country {
  font-family: "Uchen", serif;
  font-size: 17px;
  position: relative;
  top: -16px;
}
.highLow {
  font-family: "Uchen", serif;
  font-size: 16px;
  margin: -24px;
  margin-top: -30px;
}
#weatherStat {
  font-family: "Uchen", serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 29px;
}
.weatherDegree {
  font-size: 63px;
  text-align: center;
  margin-top: 55px;
}
.cf {
  font-family: "Open Sans Condensed", sans-serif;
  bottom: 95px;
  position: relative;
  font-size: 14px;
}
.sunIcon {
  width: 140px;
  margin-left: -65px;
}
.cityCapital:first-letter {
  text-transform: capitalize;
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.farenheit {
  text-decoration: none;
}
#celsius {
  text-decoration: none;
}
.myCode {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 13px;
}
.upcoming {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0 auto;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 118px;
  width: 765px;
  margin-left: 0px;
  border-radius: 20px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.weather-forecast-min {
  opacity: 0.7;
}
.days {
  width: 810px;
  position: relative;
  bottom: 136px;
}
